/* Add your custom CSS styles for the Home component here */
/* For example, you can style the navbar, body, and footer */
/* Stylish CSS for the Home page layout */
/* Add your custom CSS styles here */

/* Hero Section */
.hero {
    height: 80vh;
    /* Adjust the height as needed */
    background-color: #f2f2f2;
    /* Change the background color as per your design */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {
    text-align: center;
   height: 30rem;
   width: 100rem;
    background-image: url(https://img.freepik.com/free-vector/abstract-colorful-soft-watercolor-texture-background_1035-18958.jpg?w=740&t=st=1691224689~exp=1691225289~hmac=97f802a98d8bb6796c32354bba7fa14fdd9929bbb9fe60adcb5403d7fbf51853);
}
.hero-text{
    margin-top: 7rem;
    color: white;
    font-weight: bolder;
    font-size: 5rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero button {
    padding: 0.8rem 2rem;
    background-color: #007bff;
    /* Change the button color as per your design */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* About Section */
.about {
    padding: 4rem 0;
    background-color: #fff;
    /* Change the background color as per your design */
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.2rem;
}

/* Footer */
.footer {
    background-color: #333;
    /* Change the footer background color as per your design */
    color: #fff;
    padding: 1rem;
    text-align: center;
}