/* Stylish CSS for the Navbar component */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Change the background color as per your design */
    color: #fff; /* Change the text color as per your design */
    padding: 1rem;
  }
  
  .navbar__logo {
width: 145px;
height: 100px;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .navbar__links img{
    width: 20px;
    height: 10px;
  }
  
  
  .navbar__item a {
    text-decoration: none;
    color: #fff; /* Change the link text color as per your design */
    padding: 0.5rem 1rem;
    border-radius: 4px; /* Optional: Add rounded corners to the links */
    transition: background-color 0.3s ease;
  }
  
  .navbar__item a:hover {
    background-color: #555; /* Change the background color on hover */
  }
  
  /* Optional: Add media queries for responsive design */
  /* Example:
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .navbar__links {
      margin-top: 1rem;
    }
  }
  */
  